<div class="container">
    #parse("/screen/nav.vm")

    <div class="data"
         style="padding-left: 4%;  border: 0px;">
        #if($status)

            <div class="form-group col-sm-12">
                <label for="description" class="col-sm-2 control-label">邮件id</label>

                <div class="col-sm-8 input-group" data-role="acknowledge-input">
                    <div data-role="acknowledgement">
                        <i></i>
                    </div>
                    <p class="form-control" style="color: #2E9BF7">$email.id</p>

                </div>
            </div>
            <div class="form-group col-sm-12">

                <label for="name" class="col-sm-2 control-label">用户id</label>

                <div class="col-sm-8 input-group" data-role="acknowledge-input">
                    <div data-role="acknowledgement">
                        <i></i>
                    </div>
                    <p class="form-control" style="color: #2E9BF7">$email.userId</p>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label for="description" class="col-sm-2 control-label">发送者id</label>

                <div class="col-sm-8 input-group" data-role="acknowledge-input">
                    <div data-role="acknowledgement">
                        <i></i>
                    </div>
                    <p class="form-control" style="color: #2E9BF7">$email.senderId</p>

                </div>
            </div>

            <div class="form-group col-sm-12">
                <label for="description" class="col-sm-2 control-label">标题</label>

                <div class="col-sm-8 input-group" data-role="acknowledge-input">
                    <div data-role="acknowledgement">
                        <i></i>
                    </div>
                    <p class="form-control" style="color: #2E9BF7">$email.title</p>

                </div>
            </div>
            <div class="form-group col-sm-12">

                <label for="name" class="col-sm-2 control-label">内容</label>

                <div class="col-sm-8 input-group" data-role="acknowledge-input">
                    <div data-role="acknowledgement">
                        <i></i>
                    </div>
                    <p class="form-control" style="color: #2E9BF7">$email.content</p>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label for="description" class="col-sm-2 control-label">创建时间</label>

                <div class="col-sm-8 input-group" data-role="acknowledge-input">
                    <div data-role="acknowledgement">
                        <i></i>
                    </div>
                    <p class="form-control" style="color: #2E9BF7">$email.createTime</p>

                </div>
            </div>

            <div class="form-group col-sm-12">
                <label for="description" class="col-sm-2 control-label">是否已读</label>

                <div class="col-sm-8 input-group" data-role="acknowledge-input">
                    <div data-role="acknowledgement">
                        <i></i>
                    </div>
                    <p class="form-control" style="color: #2E9BF7">#if($email.read)
                        已读
                    #else
                        未读
                    #end</p>

                </div>
            </div>


            <div id="div1">
                #set($award=$email.attachment)
            #set($tagId="attachment_show")
            #set($title="attachment")
            #parse("/screen/award_show.vm")
            </div>


            <div class="form-group col-sm-12">
                <label for="description" class="col-sm-2 control-label">类型</label>

                <div class="col-sm-8 input-group" data-role="acknowledge-input">
                    <div data-role="acknowledgement">
                        <i></i>
                    </div>
                    <p class="form-control" style="color: #2E9BF7">$email.type</p>

                </div>
            </div>

            <div class="form-group col-sm-12">
                <label for="description" class="col-sm-2 control-label">csb_name</label>

                <div class="col-sm-8 input-group" data-role="acknowledge-input">
                    <div data-role="acknowledgement">
                        <i></i>
                    </div>
                    <p class="form-control" style="color: #2E9BF7">#if($email.csbName)$email.csbName  #end</p>

                </div>
            </div>
        <div class="form-group col-sm-12">
            <form id="deleteUserEmail-form" action="/admin/userEmail/allUserEmailById" method="POST" onsubmit="deleteUserEmail(this);">
                <input type="hidden" name="emailId" value="$email.id"/>
                <input type="hidden" name="userId" value="$email.userId"/>
                <input type="hidden" name="token" value="$token"/>
                <input id="deleteUserEmail-btn" type="submit" class="col-sm-offset-3 col-sm-2 btn btn-primary"
                       value="删除"/>
            </form>
            <form action="/admin/userEmail/allUserEmailById" method="POST">
                <input type="hidden" name="token" value="$token">
                <input type="hidden" name="userId" value="$email.userId">
                <input class="col-sm-offset-2 col-sm-2 btn btn-primary" type="submit"
                        style="display:inline-block;float:left;" value="返回列表"  />
                </input>
            </form>
            </>
        #else
            <div style="padding-left: 10px">Server Error...</div>
        #end

    </div>
</div>
