<div class="container">
#parse("/screen/nav.vm")
	<div class="data">
		<div id="formDiv" class="span10">
				<div class="form-group col-sm-12">
					<input type="hidden" name="challegeId" value='$challege.id' id="challegeid"> <label
						for="name" class="col-sm-2 control-label">关卡名称</label>
					<div class="col-sm-8 input-group" data-role="acknowledge-input">
						<div data-role="acknowledgement">
							<i></i>
						</div>
						<input type="text" class="form-control"  id="updateChallegeName"
							required="required" placeholder="请输入名称"
							value='$challege.name'>
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="description" class="col-sm-2 control-label">描述</label>
					<div class="col-sm-8 input-group" data-role="acknowledge-input">
						<div data-role="acknowledgement">
							<i></i>
						</div>
						<input id="updatechallegeDes" class="form-control" rows="3" placeholder="请输入描述"
							required="required" type="text" name="description" value='$challege.description' />
					
					</div>
				</div>

##			before is like this :
##				<div class="form-group col-sm-12">
##					<label for="bpm" class="col-sm-2 control-label">挑战包图片</label>
##					<div class="col-sm-8 input-group" data-role="acknowledge-input">
##						<div data-role="acknowledgement">
##							<i></i>
##						</div>
##						<input  id="updatechallegeImage" type="file" accept="image/*" class="form-control"
##							placeholder="请选择图片" required="required" value='$challege.image'>
##					</div>
##				</div>

##			after is like this:

            <div class="form-group col-sm-12">
                <label class="col-sm-2 control-label">挑战包图片</label>
                <div class="col-sm-8 input-group" data-role="acknowledge-input">
                    <div data-role="acknowledgement">
                        <i></i>
                    </div>
                    <input  id="updatechallegeImage" name="updatechallegeImage" type="text" class="form-control"
                            placeholder="请输入图片tag" required="required" value='$challege.tag' >
                </div>
            </div>

				<div class="form-group col-sm-12">
					<label for="bpm" class="col-sm-2 control-label">要求玩家等级</label>
					<div class="col-sm-8 input-group" data-role="acknowledge-input">
						<div data-role="acknowledgement">
							<i></i>
						</div>
						<input id="updateRequiredLevel" type="number" min="1" step="1" class="form-control"
							required="required" value='$challege.requiredLevel' placeholder="请输入等级">
					</div>
				</div>

            <div class="form-group col-sm-12">
                <label class="col-sm-2 control-label">过关条件(js代码)</label>
                <div class="col-sm-8 input-group" data-role="acknowledge-input">
                    <div data-role="acknowledgement">
                        <i></i>
                    </div>
						<textarea id="updateRequiredJsTextArea" placeholder="请输入过关条件(js代码)" class="form-control" required="required"
                               rows="8"   data-type="text" name="determineCondition" value='$challege.determineCondition'>$challege.determineCondition

						</textarea>
                </div>
            </div>


				<div>
					<button 
						class="col-sm-offset-3 col-sm-2 btn btn-primary" id="updateChallege-btn" style="display:inline-block;float:left;">保存修改</button>
					<a href=" /admin/allChalleges?token=$token" style="float:left;"><button class="col-sm-offset-6 col-sm-2 btn btn-primary" style="display:inline;width: 200%;">返回列表</button></a>
				</div>
			
		</div>
	</div>
</div>