<div class="container">
#parse("/screen/nav.vm")
	<div class="data">
		<div id="formDiv" class="span10">
				<div class="form-group col-sm-12">
					<input type="hidden" name="albumId" value='$album.id' id="albumid"> <label
						for="name" class="col-sm-2 control-label">名称</label>
					<div class="col-sm-8 input-group" data-role="acknowledge-input">
						<div data-role="acknowledgement">
							<i></i>
						</div>
						<input type="text" class="form-control" name="name" id="updateAlbumname"
							required="required" data-type="text" placeholder=""
							value='$album.name'>
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="description" class="col-sm-2 control-label">描述</label>
					<div class="col-sm-8 input-group" data-role="acknowledge-input">
						<div data-role="acknowledgement">
							<i></i>
						</div>
						<input id="updateAlbumdes" class="form-control" rows="3" 
							required="required" data-type="text" name="description"
							#if($album.description) value='$album.description' #else placeholder="请输入曲包描述" #end>
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="bpm" class="col-sm-2 control-label">标记</label>
					<div class="col-sm-8 input-group" data-role="acknowledge-input">
						<div data-role="acknowledgement">
							<i></i>
						</div>
						<input id="updateAlbumimg" type="text" class="form-control" name="backgroundImage"
							required="required" data-type="integer"
							value='$album.tag' placeholder="">
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="bpm" class="col-sm-2 control-label">歌曲</label>
					<div class="col-sm-2 input-group" data-role="acknowledge-input">
						<div data-role="acknowledgement">
							<i></i>
						</div>
						<select class="form-control" name="musics">
						    <option value="$mymusic.get(0).id">$mymusic.get(0).name</option>
						    #foreach($music in $validMusics)
								<option value="$music.id">$music.name</option>
							#end
						</select>
					</div>
					<div class="col-sm-2 input-group"
						data-role="acknowledge-input" style="margin-left:20px;">
						<div data-role="acknowledgement">
							<i></i>
						</div>
						<select class="form-control" name="musics">
						    <option value="$mymusic.get(1).id">$mymusic.get(1).name</option>
						    #foreach($music in $validMusics)
								<option value="$music.id">$music.name</option>
							#end
						</select>
					</div>
					<div class="col-sm-2 input-group"
						data-role="acknowledge-input" style="margin-left:20px;">
						<div data-role="acknowledgement">
							<i></i>
						</div>
						<select class="form-control" name="musics">
						    <option value="$mymusic.get(2).id">$mymusic.get(2).name</option>
						    #foreach($music in $validMusics)
								<option value="$music.id">$music.name</option>
							#end
						</select>
					</div>
					<div class="col-sm-2 input-group"
						data-role="acknowledge-input" style="margin-left:20px;">
						<div data-role="acknowledgement">
							<i></i>
						</div>
						<select class="form-control" name="musics">
						    <option value="$mymusic.get(3).id">$mymusic.get(3).name</option>
						    #foreach($music in $validMusics)
								<option value="$music.id">$music.name</option>
							#end
						</select>
					</div>
				</div>
				<div>
					<button 
						class="col-sm-offset-3 col-sm-2 btn btn-primary" id="updateAlbum-btn" style="display:inline-block;float:left;">保存修改</button>
					<a href="/Musicbloom/admin/album/all?token=$token" style="float:left;"><button class="col-sm-offset-6 col-sm-2 btn btn-primary" style="display:inline;width: 200%;">返回列表</button></a>
				</div>
			
		</div>
	</div>
</div>