<div class="container">
#parse("/screen/nav.vm")
	<div class="data">
		<div id="formDiv" class="span10">

				<div class="form-group col-sm-12">
					<label class="col-sm-2" style="font-size:16px;">修改小关卡</label>

				</div>

				<div class="form-group col-sm-12">
					<label for="bpm" class="col-sm-2 control-label">id</label>
					<div class="col-sm-8 input-group" data-role="acknowledge-input">
						<div data-role="acknowledgement">
							<i></i>
						</div>
                        <div class="col-sm-5" style="padding-left: 0px; margin-right: 0px">
                            <p style="color: #2E9BF7" id="gateId">$challegegate.id</p>
                        </div>
					</div>
				</div>
				<div class="form-group col-sm-12">
				    <input type="hidden" name="challegegateId" value='$challegegate.id' id="challegegateid">
					<label for="file" class="col-sm-2 control-label">所属挑战包id</label>
					<div class="col-sm-8 input-group" data-role="acknowledge-input">
						<div data-role="acknowledgement">
							<i></i>
						</div>
                        <div class="col-sm-5" style="padding-left: 0px; margin-right: 0px">
                            <p style="color: #2E9BF7">$challegegate.challengeId</p>
                        </div>
						#*<select id="challegeid" class="form-control col-sm-10">
						#if($challenges)
							#foreach( $challege in $challenges)
                             <option value ="$challege.id">$challege.id</option>
                            #end
                         #end
                        </select>*#
						
					</div>
				</div>

				<div class="form-group col-sm-12">
					<label for="bpm" class="col-sm-2 control-label">所属挑战包关卡数</label>
					<div class="col-sm-8 input-group" data-role="acknowledge-input">
						<div data-role="acknowledgement">
							<i></i>
						</div>
                        <div class="col-sm-5" style="padding-left: 0px; margin-right: 0px">
                            <p style="color: #2E9BF7">$challegegate.gateNumber</p>
                        </div>
						#*<input type="number" min="1" id="gateNumber" class="form-control" placeholder="请输入关卡数"
							required="required" value='$challegegate.gateNumber'/>*#
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="bpm" class="col-sm-2 control-label">关卡名称</label>
					<div class="col-sm-8 input-group" data-role="acknowledge-input">
						<div data-role="acknowledgement">
							<i></i>
						</div>
						<input  id="gateName" type="text" class="form-control" 
							placeholder="请输入名称" required="required" value='$challegegate.name'>
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="bpm" class="col-sm-2 control-label">描述</label>
					<div class="col-sm-8 input-group" data-role="acknowledge-input">
						<div data-role="acknowledgement">
							<i></i>
						</div>
						<input  id="gatedes" type="text" class="form-control" 
							placeholder="请输入描述" required="required"
							#if($challegegate.description == "$challegegate.description")
                            	value="$challegegate.description"
							#else
                                value=""
							#end>
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="bpm" class="col-sm-2 control-label">谱面列表</label>
					<div class="col-sm-8 input-group" data-role="acknowledge-input">
						<div data-role="acknowledgement">
							<i></i>
						</div>
						<input  id="schemes" type="text" class="form-control" 
							placeholder="请输入谱面id，多个谱面请用“,”分割" required="required" value='#foreach($scheme in $challegegate.schemes)$scheme,#end'>
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="bpm" class="col-sm-2 control-label">要求玩家等级</label>
					<div class="col-sm-8 input-group" data-role="acknowledge-input">
						<div data-role="acknowledgement">
							<i></i>
						</div>
						<input  id="gaterequiredLevel" type="number" min="1" step="1" class="form-control" 
							placeholder="请输入等级" required="required" value='$challegegate.requiredLevel'>
					</div>
				</div>




            <div id="div1">
				#set($award=$challegegate.massiveAward)
            #set($tagId="firstAward")
            #set($title="首次挑战成功奖励")
            #parse("/screen/award_show.vm")
            #parse("/screen/award_add.vm")
            </div>
            <div id="div2">
				#set($award=$challegegate.normalAward)
            #set($tagId="secondAward")
            #set($title="前5次挑战成功奖励")
            #parse("/screen/award_show.vm")
            #parse("/screen/award_add.vm")
            </div>
            <div id="div3">
				#set($award=$challegegate.leastAward)
            #set($tagId="thirdAward")
            #set($title="5次后挑战成功奖励")
            #parse("/screen/award_show.vm")
            #parse("/screen/award_add.vm")
            </div>

##		#*首次挑战成功奖励  前5次挑战成功奖励  5次后挑战成功奖励*#
##            <div class="form-group col-sm-12">
##                <table border="0" class="table">
##                    <tr>
##                        <td>
##                            <label for="bpm" class="col-sm-2 control-label">首次挑战成功奖励</label>
##                        </td>
##					</tr>
##					<tr>
##                        <td>
##                            <div class="form-group col-sm-12">
##                                普通:
##									<span style="color: #2E9BF7; margin-bottom: 10px">金币数量X
##										<span style="color: #2E9BF7; margin-bottom: 10px"
##											  id="firstGold"
##											#if($challegegate.massiveAward.gold)
##												value="$challegegate.massiveAward.gold"
##											#else
##                                              	value="0"
##											#end>
##
##											#if($challegegate.massiveAward.gold)
##												$challegegate.massiveAward.gold
##											#else
##                                                0
##											#end
##                                            &nbsp;&nbsp;
##										</span>
##									</span>
##									<span style="color: #2E9BF7; margin-bottom: 10px">经验数量X
##										<span style="color: #2E9BF7; margin-bottom: 10px"
##											  id="firstExp"
##											#if($challegegate.massiveAward.experience)
##												value="$challegegate.massiveAward.experience"
##											#else
##												value="0"
##											#end>
##
##											#if($challegegate.massiveAward.experience)
##												$challegegate.massiveAward.experience
##											#else
##                                                0
##											#end
##                                            &nbsp;&nbsp;
##										</span>
##									</span>
##									<span style="color: #2E9BF7; margin-bottom: 10px">体力数量X
##										<span style="color: #2E9BF7; margin-bottom: 10px"
##                                              id="firstMuscle"
##											#if($challegegate.massiveAward.muscle)
##												value="$challegegate.massiveAward.muscle"
##											#else
##                                              	value="0"
##											#end>
##
##											#if($challegegate.massiveAward.muscle)
##												$challegegate.massiveAward.muscle
##											#else
##                                                0
##											#end
##                                            &nbsp;&nbsp;
##										</span>
##									</span>
##									<span style="color: #2E9BF7; margin-bottom: 10px">残谱数量X
##										<span style="color: #2E9BF7; margin-bottom: 10px"
##												id="firstBroken"
##											#if($challegegate.massiveAward.brokenChart)
##												value="$challegegate.massiveAward.brokenChart"
##											#else
##                                              	value="0"
##											#end>
##											#if($challegegate.massiveAward.brokenChart)
##												$challegegate.massiveAward.brokenChart
##											#else
##                                                0
##											#end
##                                            &nbsp;&nbsp;
##										</span>
##									</span>
##                            </div>
##
##                            <div class="form-group col-sm-12">
##                                道具:
##									<span style="color: #2E9BF7; margin-bottom: 10px"
##											id="firstProp"
##										value="#foreach($entry in $challegegate.massiveAward.props)$entry.id,$entry.count@#end">
##
##										#foreach( $entry in $challegegate.massiveAward.props)
##											$entry.id X $entry.count&nbsp;&nbsp;
##										#end
##                                    </span>
##                            </div>
##
##                            <div class="form-group col-sm-12">
##                                头像:
##									<span style="color: #2E9BF7; margin-bottom: 10px"
##											id="firstHead"
##										value="#foreach($entry in $challegegate.massiveAward.headImages)$entry,#end">
##										#foreach( $entry in $challegegate.massiveAward.headImages)
##											$entry&nbsp;&nbsp;
##										#end
##                                    </span>
##                            </div>
##                            <div class="form-group col-sm-12">
##                                歌曲:
##									<span style="color: #2E9BF7; margin-bottom: 10px"
##											if="firstMusic"
##										value="#foreach($entry in $challegegate.massiveAward.musics)$entry,#end">
##										#foreach( $entry in $challegegate.massiveAward.musics)
##											$entry&nbsp;&nbsp;
##										#end
##                                    </span>
##                            </div>
##                            <hr style="height:1px;border:none;border-top:1px solid #555555;" />
##                        </td>
##                    </tr>
##				</table>
##                <div class="col-sm-2">
##                    <select class="form-control" name="award" id="firstSelect" onchange="selectChange('firstSelect')">
##                        <option value="0">基础</option>
##                        <option value="1">道具</option>
##                        <option value="2">头像</option>
##                        <option value="3">歌曲</option>
##                    </select>
##                </div>
##                <div class="col-sm-2">
##                    <select class="form-control" name="award" id="firstSelect1">
##                        <option value="0">金币</option>
##                        <option value="1">经验</option>
##                        <option value="2">体力</option>
##                        <option value="3">残谱</option>
##                    </select>
##                    <select class="form-control" name="award" id="firstSelect2" style="display: none">
##						#if($props)
##							#foreach( $prop in $props)
##								#foreach($pr in $prop.entrySet())
##                                    <option value ="$pr.key">$pr.key=$pr.value</option>
##								#end
##							#end
##						#end
##                    </select>
##                    <select class="form-control" name="award" id="firstSelect3" style="display: none"
##					#if($heads)
##						#foreach( $head in $heads)
##							#foreach( $he in $head.entrySet())
##                                <option value ="$he.key">$he.key=$he.value</option>
##							#end
##						#end
##					#end
##                    </select>
##                    <select class="form-control" name="award" id="firstSelect4" style="display: none"
##					#if($musics)
##						#foreach( $music in $musics)
##							#foreach( $mu in $music.entrySet())
##                                <option value ="$mu.key">$mu.key=$mu.value</option>
##							#end
##						#end
##					#end
##                    </select>
##                </div>
##                <div class="col-sm-2" style="padding-right: 0px">
##                    <input type="number"  id="firstInput" class="form-control"
##                           placeholder="请输入数字" required="required" >
##                </div>
##                <div class="col-sm-2">
##                    <a class="btn btn-primary text-center btn-block" onclick="awardAdd('first')">添加</a>
##                </div>
##
##                <div class="col-sm-4" id="firstAward"></div>
##            </div>
##
##
##
##
##            <div class="form-group col-sm-12">
##                <table border="0" class="table">
##					<tr>
##                        <td>
##                            <label for="bpm" style="width: 20%" class="col-sm-2 control-label">前5次挑战成功奖励</label>
##                        </td>
##					</tr>
##					<tr>
##						<td>
##							<div class="form-group col-sm-12">
##								普通:
##										<span style="color: #2E9BF7; margin-bottom: 10px">金币数量X
##											<span style="color: #2E9BF7; margin-bottom: 10px">
##												#if($challegegate.normalAward.gold)
##													$challegegate.normalAward.gold
##												#else
##													0
##												#end
##												&nbsp;&nbsp;
##											</span>
##										</span>
##										<span style="color: #2E9BF7; margin-bottom: 10px">经验数量X
##											<span style="color: #2E9BF7; margin-bottom: 10px">
##												#if($challegegate.normalAward.experience)
##													$challegegate.normalAward.experience
##												#else
##													0
##												#end
##												&nbsp;&nbsp;
##											</span>
##										</span>
##										<span style="color: #2E9BF7; margin-bottom: 10px">体力数量X
##											<span style="color: #2E9BF7; margin-bottom: 10px">
##												#if($challegegate.normalAward.muscle)
##													$challegegate.normalAward.muscle
##												#else
##													0
##												#end
##												&nbsp;&nbsp;
##											</span>
##										</span>
##										<span style="color: #2E9BF7; margin-bottom: 10px">残谱数量X
##											<span style="color: #2E9BF7; margin-bottom: 10px">
##												#if($challegegate.normalAward.brokenChart)
##													$challegegate.normalAward.brokenChart
##												#else
##													0
##												#end
##												&nbsp;&nbsp;
##											</span>
##										</span>
##							</div>
##
##							<div class="form-group col-sm-12">
##								道具:
##										<span style="color: #2E9BF7; margin-bottom: 10px">
##											#foreach( $entry in $challegegate.normalAward.props)
##												$entry.id X $entry.count&nbsp;&nbsp;
##											#end
##										</span>
##							</div>
##
##							<div class="form-group col-sm-12">
##								头像:
##										<span style="color: #2E9BF7; margin-bottom: 10px">
##											#foreach( $entry in $challegegate.normalAward.headImages)
##												$entry&nbsp;&nbsp;
##											#end
##										</span>
##							</div>
##							<div class="form-group col-sm-12">
##								歌曲:
##										<span style="color: #2E9BF7; margin-bottom: 10px">
##											#foreach( $entry in $challegegate.normalAward.musics)
##												$entry&nbsp;&nbsp;
##											#end
##										</span>
##							</div>
##							<hr style="height:1px;border:none;border-top:1px solid #555555;" />
##						</td>
##					</tr>
##				</table>
##                <div class="col-sm-2">
##                    <select class="form-control" name="award" id="secondSelect" onchange="selectChange('secondSelect')">
##                        <option value="0">基础</option>
##                        <option value="1">道具</option>
##                        <option value="2">头像</option>
##                        <option value="3">歌曲</option>
##                    </select>
##                </div>
##                <div class="col-sm-2">
##                    <select class="form-control" name="award" id="secondSelect1">
##                        <option value="0">金币</option>
##                        <option value="1">经验</option>
##                        <option value="2">体力</option>
##                        <option value="3">残谱</option>
##                    </select>
##                    <select class="form-control" name="award" id="secondSelect2" style="display: none">
##						#if($props)
##							#foreach( $prop in $props)
##								#foreach($pr in $prop.entrySet())
##                                    <option value ="$pr.key">$pr.key=$pr.value</option>
##								#end
##							#end
##						#end
##                    </select>
##                    <select class="form-control" name="award" id="secondSelect3" style="display: none"
##					#if($heads)
##						#foreach( $head in $heads)
##							#foreach( $he in $head.entrySet())
##                                <option value ="$he.key">$he.key=$he.value</option>
##							#end
##						#end
##					#end
##                    </select>
##                    <select class="form-control" name="award" id="secondSelect4" style="display: none"
##					#if($musics)
##						#foreach( $music in $musics)
##							#foreach( $mu in $music.entrySet())
##                                <option value ="$mu.key">$mu.key=$mu.value</option>
##							#end
##						#end
##					#end
##                    </select>
##                </div>
##                <div class="col-sm-2" style="padding-right: 0px">
##                    <input type="number"  id="secondInput" class="form-control"
##                           placeholder="请输入数字" required="required" >
##                </div>
##                <div class="col-sm-2">
##                    <a class="btn btn-primary text-center btn-block" onclick="awardAdd('second')">添加</a>
##                </div>
##
##                <div class="col-sm-4" id="secondAward"></div>
##            </div>
##
##
##
##
##            <div class="form-group col-sm-12">
##                <table border="0" class="table">
##					<tr>
##                        <td>
##                            <label for="bpm" style="width: 20%" class="col-sm-2 control-label">5次后挑战成功奖励</label>
##                        </td>
##					</tr>
##					<tr>
##						<td>
##							<div class="form-group col-sm-12">
##								普通:
##										<span style="color: #2E9BF7; margin-bottom: 10px">金币数量X
##											<span style="color: #2E9BF7; margin-bottom: 10px">
##												#if($challegegate.leastAward.gold)
##													$challegegate.leastAward.gold
##												#else
##													0
##												#end
##												&nbsp;&nbsp;
##											</span>
##										</span>
##										<span style="color: #2E9BF7; margin-bottom: 10px">经验数量X
##											<span style="color: #2E9BF7; margin-bottom: 10px">
##												#if($challegegate.leastAward.experience)
##													$challegegate.leastAward.experience
##												#else
##													0
##												#end
##												&nbsp;&nbsp;
##											</span>
##										</span>
##										<span style="color: #2E9BF7; margin-bottom: 10px">体力数量X
##											<span style="color: #2E9BF7; margin-bottom: 10px">
##												#if($challegegate.leastAward.muscle)
##													$challegegate.leastAward.muscle
##												#else
##													0
##												#end
##												&nbsp;&nbsp;
##											</span>
##										</span>
##										<span style="color: #2E9BF7; margin-bottom: 10px">残谱数量X
##											<span style="color: #2E9BF7; margin-bottom: 10px">
##												#if($challegegate.leastAward.brokenChart)
##													$challegegate.leastAward.brokenChart
##												#else
##													0
##												#end
##												&nbsp;&nbsp;
##											</span>
##										</span>
##							</div>
##
##							<div class="form-group col-sm-12">
##								道具:
##										<span style="color: #2E9BF7; margin-bottom: 10px">
##											#foreach( $entry in $challegegate.leastAward.props)
##												$entry.id X $entry.count&nbsp;&nbsp;
##											#end
##										</span>
##							</div>
##
##							<div class="form-group col-sm-12">
##								头像:
##										<span style="color: #2E9BF7; margin-bottom: 10px">
##											#foreach( $entry in $challegegate.leastAward.headImages)
##												$entry&nbsp;&nbsp;
##											#end
##										</span>
##							</div>
##							<div class="form-group col-sm-12">
##								歌曲:
##										<span style="color: #2E9BF7; margin-bottom: 10px">
##											#foreach( $entry in $challegegate.leastAward.musics)
##												$entry&nbsp;&nbsp;
##											#end
##										</span>
##							</div>
##						</td>
##					</tr>
##                </table>
##
##                <div class="col-sm-2">
##                    <select class="form-control" name="award" id="thirdSelect" onchange="selectChange('thirdSelect')">
##                        <option value="0">基础</option>
##                        <option value="1">道具</option>
##                        <option value="2">头像</option>
##                        <option value="3">歌曲</option>
##                    </select>
##                </div>
##                <div class="col-sm-2">
##                    <select class="form-control" name="award" id="thirdSelect1">
##                        <option value="0">金币</option>
##                        <option value="1">经验</option>
##                        <option value="2">体力</option>
##                        <option value="3">残谱</option>
##                    </select>
##                    <select class="form-control" name="award" id="thirdSelect2" style="display: none">
##						#if($props)
##							#foreach( $prop in $props)
##								#foreach($pr in $prop.entrySet())
##                                    <option value ="$pr.key">$pr.key=$pr.value</option>
##								#end
##							#end
##						#end
##                    </select>
##                    <select class="form-control" name="award" id="thirdSelect3" style="display: none"
##					#if($heads)
##						#foreach( $head in $heads)
##							#foreach( $he in $head.entrySet())
##                                <option value ="$he.key">$he.key=$he.value</option>
##							#end
##						#end
##					#end
##                    </select>
##                    <select class="form-control" name="award" id="thirdSelect4" style="display: none"
##					#if($musics)
##						#foreach( $music in $musics)
##							#foreach( $mu in $music.entrySet())
##                                <option value ="$mu.key">$mu.key=$mu.value</option>
##							#end
##						#end
##					#end
##                    </select>
##                </div>
##                <div class="col-sm-2" style="padding-right: 0px">
##                    <input type="number"  id="thirdInput" class="form-control"
##                           placeholder="请输入数字" required="required" >
##                </div>
##                <div class="col-sm-2">
##                    <a class="btn btn-primary text-center btn-block" onclick="awardAdd('third')">添加</a>
##                </div>
##
##                <div class="col-sm-4" id="thirdAward"></div>
##            </div>
				
				<div>
					<button 
						class="col-sm-offset-3 col-sm-2 btn btn-primary" id="updateChallegeGate-btn" onclick="updateChallegeGate($propSize,$headSize,$musicSize,$equipSize,$frameSize,$pieceSize,$materialSize)" style="display:inline-block;float:left;">保存修改</button>
					<a href=" /admin/allChallegeGates?token=$token" style="float:left;"><button class="col-sm-offset-6 col-sm-2 btn btn-primary" style="display:inline;width: 200%;">返回列表</button></a>
                   #* <button class="col-sm-offset-3 col-sm-2 btn btn-primary" id="updateChallegeGateRefresh-btn"
							style="display:inline-block;float:left;" onclick="awardUpdateInit()">刷新</button>*#
				</div>
			
		</div>
	</div>
</div>


#*
<script type="text/javascript">
		function massiveadd() {
			var awardsList = document.getElementById("massiveawardsList");
			var newnode = document.createElement("div");
			var award = document.getElementById("massiveaward");
			var index = award.selectedIndex;
			var awardName = award.options[index].text;
			var awardValue = award.options[index].value;
			var awardNum = document.getElementById("massiveawardNum");
			var num = awardNum.value;
			var insertText = "<label id=\"massive" + awardValue + "Label\">"
					+ awardName
					+ "数量："
					+ num
					+ "</label><input type=\"hidden\" id=\"massive" + awardValue + "\" name=\"" + awardValue + "\" value=\"" + num + "\">";
			if (isNaN(num)) {
				awardNum.value = "请输入数字";
			} else if (document.getElementById(awardValue)) {
				var awardLabel = document.getElementById(awardValue + "Label");
				awardLabel.innerHTML = awardName + "数量：" + num;
				var awardInput = document.getElementById(awardValue);
				awardInput.value = num;
			} else {
				newnode.innerHTML = insertText;
				awardsList.appendChild(newnode);
			}
		}
		
		function normaladd() {
			var awardsList = document.getElementById("normalawardsList");
			var newnode = document.createElement("div");
			var award = document.getElementById("normalaward");
			var index = award.selectedIndex;
			var awardName = award.options[index].text;
			var awardValue = award.options[index].value;
			var awardNum = document.getElementById("normalawardNum");
			var num = awardNum.value;
			var insertText = "<label id=\"normal" + awardValue + "Label\">"
					+ awardName
					+ "数量："
					+ num
					+ "</label><input type=\"hidden\" id=\"normal" + awardValue + "\" name=\"" + awardValue + "\" value=\"" + num + "\">";
			if (isNaN(num)) {
				awardNum.value = "请输入数字";
			} else if (document.getElementById(awardValue)) {
				var awardLabel = document.getElementById(awardValue + "Label");
				awardLabel.innerHTML = awardName + "数量：" + num;
				var awardInput = document.getElementById(awardValue);
				awardInput.value = num;
			} else {
				newnode.innerHTML = insertText;
				awardsList.appendChild(newnode);
			}
		}
		
		function leastadd() {
			var awardsList = document.getElementById("leastawardsList");
			var newnode = document.createElement("div");
			var award = document.getElementById("leastaward");
			var index = award.selectedIndex;
			var awardName = award.options[index].text;
			var awardValue = award.options[index].value;
			var awardNum = document.getElementById("leastawardNum");
			var num = awardNum.value;
			var insertText = "<label id=\"least" + awardValue + "Label\">"
					+ awardName
					+ "数量："
					+ num
					+ "</label><input type=\"hidden\" id=\"least" + awardValue + "\" name=\"" + awardValue + "\" value=\"" + num + "\">";
			if (isNaN(num)) {
				awardNum.value = "请输入数字";
			} else if (document.getElementById(awardValue)) {
				var awardLabel = document.getElementById(awardValue + "Label");
				awardLabel.innerHTML = awardName + "数量：" + num;
				var awardInput = document.getElementById(awardValue);
				awardInput.value = num;
			} else {
				newnode.innerHTML = insertText;
				awardsList.appendChild(newnode);
			}
		}
	</script>*#
