<div class="container">
#parse("/screen/nav.vm")

	<div class="data"
		style="padding-left: 4%;  border: 0px;">
		<div id="detailcontainer" class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">所有剧情关卡</h3>
			</div>
			
			#if($status)
				<div class="panel-body">
					<table cellpadding="15px" class="table table-hover">
						<tr>
							<th>id</th>
							<th>名称</th>
							<th>描述</th>
							<th>关卡图片</th>
							<th>关卡动画</th>
							<th>音乐列表</th>
							<th>操作</th>
						</tr>
						#if($storyGates)
							#foreach( $storyGate in $storyGates)
								<tr>
									<td>$storyGate.id</td>
									<td>$storyGate.name</td>
									#if($storyGate.description)
									<td>$storyGate.description</td>
									#else
									<td>无</td>
									#end
									#if($storyGate.image)
									<td>$storyGate.image</td>
									#else
									<td>无</td>
									#end
									#if($storyGate.animation)
									<td>$storyGate.animation</td>
									#else
									<td>无</td>
									#end
									<td>$storyGate.musics</td>
									<td><form action=" /admin/storyGate/update">
												<input type="hidden" name="storyGateId" value=$storyGate.id />
												<input type="hidden" name="token" value="$token"/>  <input
													type="submit" class="btn btn-default" value="修改" />
										</form>
									</td>
									
								</tr>
							#end
						#end
					</table>
				</div>
			#else
				<div style="padding-left: 10px">Server Error...</div>
			#end
		</div>
	</div>

</div>